<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Project Drack</title>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/gaweshani_theme.css">
</head>
<body style="background-color: #FFFFFF;">

<nav class="navbar navbar-expand-lg navbar-light nav-light mb-4" style="border-bottom: #FFFFFF;">
    <div class="container">
        <a class="navbar-brand" href="/">DRACK Cloud</a>

        <ul class="navbar-nav ml-auto">
            <a class="nav-link" href="/create" aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Create Document</a>
        </ul>
    </div>
</nav>

<div class="alert bg-dark text-white fade show rounded-0" role="alert" style="margin-bottom: 32px;">
    <div class="container d-flex" style="padding-top: 8px; padding-bottom: 8px">
        <div class="align-self-center mr-3">This is a project developed as a university assignment and the source code is available on <a href="https://github.com/las-nish/Drack" target="_blank" style="padding: 0px; color: #FFFFFF; font-weight: 600;"><u>GitHub</u></a></div>
        <div class="ml-auto">
            <button type="button" class="alert__close alert__close--light" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="hr-trans"></div>

    <div class="body-container">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body text-center">
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>

                    <h1 class="font-u-thin">Write and share <b>quickly</b></h1>
                    <div class="hr-large-empty"></div>

                    <svg id="baeb109e-6364-4a53-b5bc-1db28d334fb1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="256px" viewBox="0 0 865.76 682.89">

                        <defs>

                            <clipPath id="b55905f9-272a-4d86-8c86-019de7ca8e49">

                                <path id="b06eced8-345f-4aa3-99f0-bf328789b24b" data-name="SVGID" d="M659,492.48c9.81,4.06,15.09-13.07,17.55-23.7A45,45,0,0,1,683.26,454c-9.82-1.66-11.94-6.81-16.1-13.74a59.29,59.29,0,0,1-6.54-15.53l-11,13.07s6.95,9.81,1.65,11.44a29.92,29.92,0,0,0-4.73,1.85C642.6,466.24,649.67,488.6,659,492.48Z" fill="none"/>

                            </clipPath>

                            <style xmlns="http://www.w3.org/1999/xhtml">*, ::after, ::before { box-sizing: border-box; }
                                img, svg { vertical-align: middle; }
                            </style>

                            <style xmlns="http://www.w3.org/1999/xhtml">*, body, html { -webkit-font-smoothing: antialiased; }
                                img, svg { max-width: 100%; }
                            </style>

                        </defs>

                        <path d="M580.39,23.34h8.32a30.75,30.75,0,0,1,30.75,30.75V81.27a0,0,0,0,1,0,0H552a0,0,0,0,1,0,0V51.73a28.39,28.39,0,0,1,28.39-28.39Z" fill="#bcbec0"/>

                        <path d="M580.39,23.34h8.32a30.75,30.75,0,0,1,30.75,30.75V81.27a0,0,0,0,1,0,0H552a0,0,0,0,1,0,0V51.73a28.39,28.39,0,0,1,28.39-28.39Z" opacity="0.2"/>

                        <rect x="377.64" y="509.83" width="108.85" height="54.1" fill="#4d4d4d" data-secondary="true"/>

                        <polygon points="599.25 574.85 599.25 564.58 529.51 556.76 331.36 556.76 266.18 565.24 266.18 575.01 599.25 574.85" fill="#4d4d4d" data-secondary="true"/>

                        <polygon points="599.25 574.85 599.25 564.58 529.51 556.76 331.36 556.76 266.18 565.24 266.18 575.01 599.25 574.85" opacity="0.2"/>

                        <path d="M137.72,81.53H726.63A12.48,12.48,0,0,1,739.11,94V505.53a9.47,9.47,0,0,1-9.47,9.47H134.72a9.47,9.47,0,0,1-9.47-9.47V94A12.48,12.48,0,0,1,137.72,81.53Z" fill="#4d4d4d" data-secondary="true"/>

                        <rect x="141.59" y="95.63" width="579.87" height="356.99" fill="#fff"/>

                        <path d="M124.74,468.73H739.11a0,0,0,0,1,0,0v37.72a8.55,8.55,0,0,1-8.55,8.55H133.29a8.55,8.55,0,0,1-8.55-8.55V468.73A0,0,0,0,1,124.74,468.73Z" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M125.24,468.73H739.62a0,0,0,0,1,0,0v37.72a8.55,8.55,0,0,1-8.55,8.55H133.8a8.55,8.55,0,0,1-8.55-8.55V468.73A0,0,0,0,1,125.24,468.73Z" opacity="0.2"/>

                        <circle cx="433.69" cy="490.93" r="11.73" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M554,452.64H269.44V103.33a79.72,79.72,0,0,1,79.68-79.75h242S553,22.61,553,81.31Z" fill="#bcbec0"/>

                        <rect x="340.32" y="65.14" width="149.1" height="9.29" opacity="0.2"/>

                        <rect x="375.03" y="97.89" width="111.95" height="6.36" opacity="0.2"/>

                        <rect x="376.01" y="114.02" width="130.52" height="6.36" opacity="0.2"/>

                        <rect x="376.01" y="131.13" width="83.11" height="5.38" opacity="0.2"/>

                        <rect x="376.01" y="148.73" width="139.32" height="4.89" opacity="0.2"/>

                        <rect x="310.83" y="165.68" width="206.3" height="5.87" opacity="0.2"/>

                        <rect x="309.52" y="182.62" width="128.08" height="6.52" opacity="0.2"/>

                        <polygon points="348.68 101.84 348.68 108.57 328.49 108.57 328.49 154.23 320.58 154.23 320.58 108.57 300.38 108.57 300.38 101.84 348.68 101.84" fill="#fff"/>

                        <rect x="298.12" y="207.39" width="153.17" height="101.03" opacity="0.2"/>

                        <polygon points="330.54 292.94 358.9 229.88 376.01 263.61 385.3 246.5 408.76 293.92 330.54 292.94" fill="#fff"/>

                        <circle cx="410.72" cy="232.32" r="6.84" fill="#fff"/>

                        <rect x="463.51" y="206.9" width="65.51" height="4.4" opacity="0.2"/>

                        <rect x="463.51" y="245.77" width="51.57" height="4.64" opacity="0.2"/>

                        <rect x="464" y="286.1" width="46.93" height="4.64" opacity="0.2"/>

                        <rect x="464.49" y="226.7" width="22.49" height="4.16" opacity="0.2"/>

                        <rect x="492.35" y="226.7" width="22.49" height="4.16" opacity="0.2"/>

                        <rect x="464" y="267.52" width="22.49" height="4.16" opacity="0.2"/>

                        <rect x="496.43" y="267.52" width="29.9" height="3.91" opacity="0.2"/>

                        <rect x="463.92" y="305.41" width="52.39" height="4.16" opacity="0.2"/>

                        <rect x="299.66" y="327.65" width="190.74" height="5.87" opacity="0.2"/>

                        <rect x="298.69" y="344.27" width="119.85" height="5.87" opacity="0.2"/>

                        <rect x="297.71" y="362.6" width="201.98" height="5.62" opacity="0.2"/>

                        <rect x="297.3" y="378.98" width="60.13" height="40.57" opacity="0.2"/>

                        <rect x="378.13" y="378.98" width="60.13" height="40.57" opacity="0.2"/>

                        <rect x="459.28" y="379.63" width="60.13" height="40.57" opacity="0.2"/>

                        <circle cx="397.68" cy="438.46" r="3.91" opacity="0.2"/>

                        <circle cx="413.49" cy="438.46" r="3.91" opacity="0.2"/>

                        <circle cx="430.76" cy="438.46" r="3.91" opacity="0.2"/>

                        <path d="M633.23,508c0,15.09-6.51,37.16-11.42,36.74s-15.51-6.14-15.51-6.14a143.83,143.83,0,0,0,7.4-18c2.83-9,3.25-25.72,3.25-25.72C627.56,488.41,633.23,492.92,633.23,508Z" fill="#f9b499"/>

                        <path d="M651.65,453.29A111.94,111.94,0,0,0,641.44,466c-6.12,8.68-11.32,38.37-11.32,38.37a44.26,44.26,0,0,0-5.72-.82A95.47,95.47,0,0,1,609.61,499l2-8.59c2.05-8.58,4.44-30.2,11-35.11s23.85-4.26,23.85-4.26C654.41,450,651.65,453.29,651.65,453.29Z" fill="#212121" data-primary="true"/>

                        <path d="M649.6,437.79s7,9.81,1.65,11.44-17.13,6.09-21.23,26.92-4.07,62.09-3.67,88.2,5.28,50.26,26.53,57.95,53.8,10.21,64.83-15.51,7.27-66.21.81-102.87-14.23-49-29.32-49.39-17.11-6.12-22-14.28a59.29,59.29,0,0,1-6.54-15.53Z" fill="#212121" data-primary="true"/>

                        <path d="M649.6,437.79s7,9.81,1.65,11.44-17.13,6.09-21.23,26.92-4.07,62.09-3.67,88.2,5.28,50.26,26.53,57.95,53.8,10.21,64.83-15.51,7.27-66.21.81-102.87-14.23-49-29.32-49.39-17.11-6.12-22-14.28a59.29,59.29,0,0,1-6.54-15.53Z" fill="none" stroke="#263238" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.49"/>

                        <path d="M659,492.48c9.81,4.06,15.09-13.07,17.55-23.7A45,45,0,0,1,683.26,454c-9.82-1.66-11.94-6.81-16.1-13.74a59.29,59.29,0,0,1-6.54-15.53l-11,13.07s6.95,9.81,1.65,11.44a29.92,29.92,0,0,0-4.73,1.85C642.6,466.24,649.67,488.6,659,492.48Z" fill="#f9b499"/>

                        <g clip-path="url(#b55905f9-272a-4d86-8c86-019de7ca8e49)">

                            <path d="M665.58,444.15l-12.16-1.56a33.66,33.66,0,0,0,9.18-11.17h0c10.18,23.45,20.36,22.2,20.36,22.2l-2.46,4.21a27.2,27.2,0,0,1-8.53-4" fill="#f4a68e" opacity="0.4" style="isolation:isolate"/>

                        </g>

                        <path d="M707.47,511.27s8.57,30.25,7.36,31.49-11.42.39-23.25-2-22.89-7.35-29.82-9-6.53-2-12.65-.4-10.58,16.27-6.49,16.27A161,161,0,0,0,659.88,546c6.54-.81,7.84.1,15.93,2.86s43.18,18.39,49.32,20,9.81,4.09,9.39-5.32S728,499.85,728,499.85Z" fill="#f9b499"/>

                        <path d="M695,480.27l12.65,35.93,30.21-13.07a80.85,80.85,0,0,0-3.26-7.74c-2.46-5.33-8.26-26.56-14.79-33.07A30.08,30.08,0,0,0,697,454.11a62.84,62.84,0,0,1-13.71-.12" fill="#212121" data-primary="true"/>

                        <ellipse cx="642.91" cy="408.34" rx="20.52" ry="35.73" transform="translate(-80.23 169.3) rotate(-14.13)" fill="#f9b499"/>

                        <path d="M681.85,453.47a20,20,0,0,1-5.5-2.47c-6-3.8-11.83-15.34-13.71-19" fill="#92e3a9" opacity="0.4" style="isolation:isolate"/>

                        <path d="M616.61,415.49c5.32,10.61,15.93,16.3,15.93,34.28s-8.58,41.62-11.84,58-4.88,23.77.42,30.62,20.39-.49,25.3-12.32,9.39-28.16,5.3-45.3a211.44,211.44,0,0,1-4.93-29.59,31.9,31.9,0,0,1,4.61-1.8h0a2.47,2.47,0,0,0,1.8-1.68,7.31,7.31,0,0,0-.71-4.81l-.72.25a12.6,12.6,0,0,1-5.6,0l-.86-.22-1-.32-.86-.32-1-.45-.87-.44a10.81,10.81,0,0,1-1-.62,7,7,0,0,1-.82-.51c-.37-.23-.71-.5-1.08-.77l-.74-.59-1.18-1a49.79,49.79,0,0,1-13.49-24.46,59.74,59.74,0,0,1-1.78-12.33,27.09,27.09,0,0,0,1.83,2.47c11.24,13.21,33.48,15.18,41.52,15.46a41,41,0,0,1-2,11.93,61.57,61.57,0,0,0,4.54,9.35c.76,1.25,1.45,2.46,2.14,3.6V444l.64,1.06h0a17.08,17.08,0,0,0,13.07,9.05,62.84,62.84,0,0,0,13.71.12,30.1,30.1,0,0,1,22.86,8.19c6.63,6.51,12.35,27.79,14.79,33.06s3.26,7.75,3.26,7.75l-9,3.89c1.65,15.07,5.4,49.12,5.72,56.52a17.07,17.07,0,0,1-.22,4.22A18.73,18.73,0,0,0,750,553.46c4.49-16.65-1.16-26.56-6.93-33.91s-2.93-17.95,1.63-26.11,4.51-20.39-5.3-31-26.58-11.05-32.25-19.21-5.67-15.51-13.07-28.16a87.22,87.22,0,0,0-14.2-18.71c-5.95-12-18.5-29.54-36.42-29.87s-29.94,14.75-25,29.27C616.19,399.74,612.79,407.83,616.61,415.49Z" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M616.61,415.49c5.32,10.61,15.93,16.3,15.93,34.28s-8.58,41.62-11.84,58-4.88,23.77.42,30.62,20.39-.49,25.3-12.32,9.39-28.16,5.3-45.3a211.44,211.44,0,0,1-4.93-29.59,31.9,31.9,0,0,1,4.61-1.8h0a2.47,2.47,0,0,0,1.8-1.68,7.31,7.31,0,0,0-.71-4.81l-.72.25a12.6,12.6,0,0,1-5.6,0l-.86-.22-1-.32-.86-.32-1-.45-.87-.44a10.81,10.81,0,0,1-1-.62,7,7,0,0,1-.82-.51c-.37-.23-.71-.5-1.08-.77l-.74-.59-1.18-1a49.79,49.79,0,0,1-13.49-24.46,59.74,59.74,0,0,1-1.78-12.33,27.09,27.09,0,0,0,1.83,2.47c11.24,13.21,33.48,15.18,41.52,15.46a41,41,0,0,1-2,11.93,61.57,61.57,0,0,0,4.54,9.35c.76,1.25,1.45,2.46,2.14,3.6V444l.64,1.06h0a17.08,17.08,0,0,0,13.07,9.05,62.84,62.84,0,0,0,13.71.12,30.1,30.1,0,0,1,22.86,8.19c6.63,6.51,12.35,27.79,14.79,33.06s3.26,7.75,3.26,7.75l-9,3.89c1.65,15.07,5.4,49.12,5.72,56.52a17.07,17.07,0,0,1-.22,4.22A18.73,18.73,0,0,0,750,553.46c4.49-16.65-1.16-26.56-6.93-33.91s-2.93-17.95,1.63-26.11,4.51-20.39-5.3-31-26.58-11.05-32.25-19.21-5.67-15.51-13.07-28.16a87.22,87.22,0,0,0-14.2-18.71c-5.95-12-18.5-29.54-36.42-29.87s-29.94,14.75-25,29.27C616.19,399.74,612.79,407.83,616.61,415.49Z" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M680.47,410.27s-1.87,0-20-1.75-37-18.28-37-18.28" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M678.82,406.74s-5.89,0-20-4.71-31.22-24.16-31.22-24.16" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M653.5,392.61c-11.2-7-15.91-21.8-15.91-21.8" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M732.43,482.05a29.6,29.6,0,0,0-15.32-30c-13.56-7.06-25.32-1.19-35.92-4.12s-11.2-21.8-11.2-21.8" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M733,511.59s3.52,5.89,8.23,21.79a33.73,33.73,0,0,1-4.71,28.26" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M642.82,526.9s6.48-19.46-3.53-33.59-7.07-36.51-7.07-36.51" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M650.56,492.75c-.59-11.79-2.93-17.09-11.19-33.59s-7.67-23-7.67-23" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="0.35"/>

                        <path d="M577.7,619s-6.36-1.26-6.81-5.1-7.27-3-7.27-3a18.74,18.74,0,0,0-4.27,3.41c-2.54,2.56-5.13.44-11.51,3.84s-5.6,9.51-3.9,14.62,3.43-.45,11.1-3.85S576,626.83,576,626.83Z" fill="#f9b499"/>

                        <path d="M527,558.51A250,250,0,0,0,541.9,588.1a176.58,176.58,0,0,0,44.38,49.32l11.29-9.23c6.66,2.54,18,3.16,34.84,1.06A62.73,62.73,0,0,0,653,622.37c21.23,7.72,53.73,10.06,64.7-15.58a72.35,72.35,0,0,0,4-12.6,163.65,163.65,0,0,0-27.56-16.59,38.38,38.38,0,0,0,1.13-5.9c2.44-25.32-4.91-33.48-11.44-38.78s-11.71,0-31.44,30.6c-.29.49-.61,1-.94,1.43-10.33-1.68-19-1.56-25.12,1.3v.37c-11.74-.91-33.56-6.19-61.65-28.82-21.69-17.49-40.41-24.49-44.9-14.28C517.53,528.65,519.93,542.61,527,558.51Z" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M660.62,550.92l-68.37-10-24.14,19.34L644.77,574a110.58,110.58,0,0,0,7.69-10.58C655.54,558.71,658.28,554.52,660.62,550.92Z" fill="#a7a9ac"/>

                        <path d="M552.94,505.05l15.17,55.19,76.76,13.83c.76-1.06,1.62-2.15,2.46-3.26L635.4,518.12Z" fill="#bcbec0"/>

                        <path d="M591,538.91a7.84,7.84,0,1,1,5.35,9.86A8,8,0,0,1,591,538.91Z" fill="#fff"/>

                        <path d="M591,538.91a7.84,7.84,0,1,1,5.35,9.86A8,8,0,0,1,591,538.91Z" fill="#fff"/>

                        <path d="M606.38,616.51a25.94,25.94,0,0,0,9.19,9.73c5.62,3,7.57,0,10.56,0a6.05,6.05,0,0,1,5.4,6.49c0,3.6,5.15,4.68,8.92,7.4a14.4,14.4,0,0,1,5.43,13.26c-.82,4.86-8.45,6.9-9.8,4.73s-6.19-5.94-11.89-11.37-7.59-4.31-13.53-7.57-16.5-11.1-16.5-11.1Z" fill="#f9b499"/>

                        <path d="M655,620.87c26.87-12.67,38.54-40.56,38.54-40.56" fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="0.35"/>

                        <path d="M561.7,552.52c24.46,42.26,41.15,50.62,41.15,50.62" fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="0.35"/>

                        <path d="M609.31,606.42c20.61-8.83,38.29-34.74,38.29-34.74" fill="none" stroke="#3f3d56" stroke-miterlimit="10" stroke-width="0.35"/>

                        <path d="M265.67,238.4c-1.44,3-14.05.24-15.71.47s-4.75-7.61-6.89-24.51,3.08-33.78,7.83-32.12c0,0,12.53,5.08,13.49,9.84C264.39,192.08,277.1,214.24,265.67,238.4Z" fill="#f9b499"/>

                        <path d="M142.92,390.62,133.4,404s-12.85.48-16.92,1.19-4.76,2.38-4.76,4.52-.48,6.89-.48,9.05a4.85,4.85,0,0,0,4.53,4.28c2.37.23,4.52.7,5.71-.24a15.53,15.53,0,0,0,2.61-3.81s4.29,1.91,9.23-2.14a76.49,76.49,0,0,0,9.13-8c1.43-1.66,11.91-11,11.91-11Z" fill="#f9b499"/>

                        <path d="M202.11,383.84s-10.43,28.25-9.41,39.68,2,27.59,2.35,41.71.66,41.7.66,41.7-4.37,14.8-5.37,22.54-.67,70.15-.67,70.15S185,611.73,182,616.1s-7.4,7.7-10.77,10.77-2,7.4,4,8.4,13.11.34,16.14-1.33,9.42-3.08,11.77-8.42S204.5,602,204.5,602s13.84-52.68,16.14-67.81,5.71-38.34,6-41,13.85-61.88,13.85-61.88l6.72-.68,6.05,27.59L261,509.62s-2,20.85.34,35.31,4,70.5,4,70.5-2.69,17.83-1.67,20.52,5.71,3.08,12.77,2.69a39.13,39.13,0,0,0,16.81-5.38,5.51,5.51,0,0,0,2.36-7.4c-1.34-3.08-4.71-5.73-6.73-9.08s-4-5-4.7-8.08,5.72-60,4.7-72.17-1.33-28.25-1.33-28.25,7.69-27.59,8.06-56.17,3.71-32.62-3.36-51.12-11.1-25.23-11.1-25.23l-77.35,2Z" fill="#f9b499"/>

                        <path d="M288.87,536.48c-1-12.11-1.33-28.25-1.33-28.25s7.69-27.58,8.06-56.17,3.71-32.62-3.36-51.11-11.11-25.24-11.11-25.24l-77.34,2-1.68,6.06S191.68,412,192.7,423.47s2,27.59,2.35,41.71.66,41.7.66,41.7-4.37,14.8-5.37,22.54c-.63,4.8-.74,39.06-.74,54a18.56,18.56,0,0,1,19.34,1.65c4.07-12.39,10.36-42.53,11.67-51,2.35-15.14,5.7-38.34,6-41s13.85-61.88,13.85-61.88l6.72-.68,6.05,27.59L261,509.57s-2,20.85.34,35.31c1.45,8.86,2.63,41.87,3.34,55.51A22.11,22.11,0,0,0,285,598.1C286.5,583.72,289.6,545.22,288.87,536.48Z" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M288.87,616.78c-1-1.71-2-3-2.89-4.23-.37.89-.85,2.06-1.54,3.55a4.7,4.7,0,0,1-5,3.37s-5.71-5-9.76-5.38-4.37,1.34-4.37,1.34-2.69,17.83-1.68,20.52,5.71,3.08,12.77,2.69a39.13,39.13,0,0,0,16.82-5.38,5.51,5.51,0,0,0,2.36-7.4C294.26,622.83,290.89,620.13,288.87,616.78Z" fill="#212121" data-primary="true"/>

                        <path d="M196.05,606.35a29.29,29.29,0,0,0-7.69,7.69,27.16,27.16,0,0,0-1.76-7,62.61,62.61,0,0,1-4.61,9c-3.08,4.37-7.4,7.69-10.77,10.77s-2,7.4,4,8.4,13.11.34,16.14-1.34,9.42-3.08,11.77-8.42c1.71-3.89,1.65-14.51,1.54-20l-.82.23S200.76,603.32,196.05,606.35Z" fill="#212121" data-primary="true"/>

                        <path d="M196.05,622.49c-7.69,1.35-12.11,6.06-18.15,8.41-2.65,1-5,2-6.76,2.76a9.16,9.16,0,0,0,4.06,1.54c6.05,1,13.11.34,16.14-1.34s9.42-3.08,11.77-8.42C203.07,625.52,203.79,621.1,196.05,622.49Z" fill="#212121" data-primary="true"/>

                        <path d="M196.05,622.49c-7.69,1.35-12.11,6.06-18.15,8.41-2.65,1-5,2-6.76,2.76a9.16,9.16,0,0,0,4.06,1.54c6.05,1,13.11.34,16.14-1.34s9.42-3.08,11.77-8.42C203.07,625.52,203.79,621.1,196.05,622.49Z" opacity="0.2"/>

                        <path d="M201.16,380.71s-2.14,4.53,0,7.14S224,398.79,249,394.27s28.08-5.71,32.31-12.14,2.39-10.46,1.19-13.55,13.57,9.52-27.6,12.84-51.82-5.71-51.82-5.71Z" fill="#212121" data-primary="true"/>

                        <path d="M329.62,148.42c2.35.9,3.66,3.08,5.73,2.08,0,0,2-10.36,9.67-4.17,0,0,3.9-2.08,5.47-1.05a5.73,5.73,0,0,1,2.08,2.88s3.08,1.54,3.39,3.38l.26,1.83s2.09,3.08,1.83,5.22a49.84,49.84,0,0,1-3.65,11.48c-2.09,4.69-5.48,11.21-6.26,13.29a96.78,96.78,0,0,0-1.83,11.22l-12.85-4.17s1.82-16.93,1.82-17.74a57.74,57.74,0,0,0-4.17-8.86c-1.54-2.88-2.09-5.48-3.65-8.87,0,0-3.43-2.79-2.13-5.07C325.33,149.87,326.24,147.13,329.62,148.42Z" fill="#f9b499"/>

                        <path d="M253.52,246.73s12.38,7.85,14,6.9,10.94-7.37,18.08-9.23,9.05-2.62,10.77-4.3,23.57-19.51,24.76-21.17,13.09-34.26,13.09-34.26,5.94-.25,8.57.94a18.76,18.76,0,0,1,4.76,3.34s-4,39.26-4.76,41.65-9.77,11.89-14.75,17.6-41.9,32.31-43.56,35.46-10,32.13-11.42,40.7,10,35,10.23,39.51,1.67,10.46-1.9,14.51-12.31,9-45.7,10.95-35.93-7.86-35.93-11.43,2.62-18.8,1.67-29.51a153.18,153.18,0,0,0-2.62-18.08s-8.09,20-10.23,23.56S177.85,375,172.43,381.24s-14.69,21.09-20.64,20.38-9.24-5.23-9.24-8.32a33.46,33.46,0,0,1,1.67-8.09s21.54-38.73,23.49-42.78,7.86-24.74,9.52-33.31,1.19-27.6,4.53-32.84,30.46-16.65,37.35-20.94S243.29,245.3,253.52,246.73Z" fill="#212121" data-primary="true"/>

                        <path d="M216.91,183a33.37,33.37,0,0,0-11.66,14.52c-3.32,9.05-1.89,21.17-2.14,22.37s-25,2.14-26.89,11.19,5.48,15.7,6.66,20-15.23,7.14-17.6,18.32,25.22,12.14,24,19-3.8,6-3.08,13.1,9.53,10.48,20,13.85,10,5.7,16.41.47,6.91-9.52,8.1-14.51,2.61-1.2,10.77-7.86,10.23-16.92,9.52-21.65-.23,1.19,5.71-7.38,3.34-12.62-.48-20.71-5.46-11.19-5-16.65,7.14-23.32,3.8-30-5.48-6.15-3.8-10.47,5.7-5.23.7-10.94-13.09-6-16.66-3.82-1.43,2.62-7.37,4.29A28.31,28.31,0,0,0,216.91,183Z" fill="#4d4d4d" data-secondary="true"/>

                        <path d="M264.23,221.15c0,7-4.31,12.72-9.64,12.72S245,228.18,245,221.15s4.32-12.74,9.64-12.74S264.23,214.12,264.23,221.15Z" fill="#ccc"/>

                        <path d="M264.23,221.15c0,7-4.31,12.72-9.64,12.72S245,228.18,245,221.15s4.32-12.74,9.64-12.74S264.23,214.12,264.23,221.15Z" opacity="0.2"/>

                        <path d="M264.75,221.15c0,5.32-3.28,9.65-7.31,9.65s-7.29-4.33-7.29-9.65,3.26-9.65,7.29-9.65S264.75,215.82,264.75,221.15Z" fill="#ccc"/>

                        <path d="M257.89,201.61a37.4,37.4,0,0,0-9.82-19.4c-5.46-5.48-14.57-7.87-23.19-6.16-6.61,1.36-9.9,4.22-11.81,9-.28.71-1.83,2.09-1.54,2.74-.72-1.74,9.55-6.65,10.68-7a21.34,21.34,0,0,1,22,5.26,32.31,32.31,0,0,1,8.28,16.31,2.71,2.71,0,0,0,2.69,2.33h.38A2.73,2.73,0,0,0,257.89,201.61Z" fill="#ccc"/>

                        <path d="M256.92,219.63a4.81,4.81,0,0,1-4.74-4.21,102,102,0,0,0-2.63-13.06,4.79,4.79,0,1,1,9.23-2.57,111,111,0,0,1,2.91,14.47,4.78,4.78,0,0,1-4.15,5.32h0A4.18,4.18,0,0,1,256.92,219.63Z" fill="#bcbec0"/>

                        <polygon points="319.55 141.52 335.35 150.5 337.88 145.31 321.74 136.51 319.55 141.52" fill="#fff" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>

                        <polygon points="319.55 141.52 316.49 137.24 321.74 136.51 319.55 141.52" fill="#fff" stroke="#263238" stroke-linecap="round" stroke-linejoin="round"/>

                        <polygon points="311.74 411.57 322.13 388.45 328.41 400.82 331.81 394.54 340.42 411.93 311.74 411.57" fill="#fff"/>

                        <circle cx="341.14" cy="389.35" r="2.51" fill="#fff"/>

                        <polygon points="392.56 411.57 402.96 388.45 409.23 400.82 412.64 394.54 421.24 411.93 392.56 411.57" fill="#fff"/>

                        <circle cx="421.96" cy="389.35" r="2.51" fill="#fff"/>

                        <polygon points="473.71 412.22 484.11 389.1 490.38 401.47 493.79 395.19 502.39 412.58 473.71 412.22" fill="#fff"/>

                        <circle cx="503.11" cy="390" r="2.51" fill="#fff"/>

                    </svg>

                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>

                    <p class="font-u-thin">DRACK is a platform for anonymous document writing, sharing, and editing using the power of markdown, because it allows for simple and beautiful documents</p>

                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>

                    <a href="/create" class="b-dark ripple text-light">Create a Document&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    <div class="hr-trans"></div>

                    <small class="font-u-thin">* No Need to Sign In</small>
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>
                    <div class="hr-trans"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card text-center font-normal text-light bg-dark" style="padding-top: 16px; padding-bottom: 16px;  border: none;">
    <small><b>Drack Cloud - &copy; 2023 Lasan Nishshanka</b></small>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>