@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:300,400,600|Open+Sans:300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600&display=swap');

:root {
    --font-n : 'Open Sans', sans-serif;
    --font-m : 'Ubuntu Mono', monospace;
    --font-p : 'Poppins', sans-serif;

    --c-background : #f6f9fc;
    --c-font : #101010;

    --primary : #0063ee;
    --info : #00b7d6;
    --warning : #ffb533;
    --success : #00c779;
    --danger : #cb183c;
    --secondary : #6f05b1;
    --light : #e9f2f9;
    --dark : #1b1e24;
    --primary-light : #438CF3;

    --light-gray: #999999;

    --c-hr : #e9f2f9;

    --blog-main-border : #e9f2f9;
    --blog-main-background : #ffffff;
    --blog-main-fore : #000000;

    --c-form-background : #ffffff;
    --c-form-border : #d8e4eb;
    --c-placeholder : #586a7d;
    --c-form-input-group-text : #555555;
    --c-label-font: #586a7d;

    --c-card-border : #e9f2f9;
    --c-background-card : #ffffff;
    --c-background-card-header : #e9f2f9;

    --c-navbar-border : #e9f2f9;
    --c-navbar-light : #ffffff;
    --c-navbar-dark : #101010;
    --c-navbar-dropdown-background : #ffffff;
    --c-navbar-dropdown-fore : #101010;
    --c-navbar-dropdown-header-fore : #868e96; /* and Dropdown Disable */
    --c-navbar-dropdown-border : #e9f2f9;
    --c-navbar-dropdown-devider : #e9f2f9;

    --c-background-blockquote : #ffffff;
    --c-border-blockquote : #e9f2f9;

    --model-background-color:  #ffffff;
    --model-fore-color : #101010;
}

body {
    background-color: var(--c-background);
    color: var(--c-font);
    font-family: var(--font-p);
}

.body-container {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px 10px;
}

hr {
    border-color: var(--c-hr);
}

.hr-trans {
    border: 10px solid transparent;
}

.hr-large-empty {
    border: 40px solid transparent;
}

::selection {
    color: #ffffff !important;
    background-color: var(--primary) !important;
}

::-moz-selection {
    color: #ffffff !important;
    background-color: var(--primary) !important;
}

/**************************************************************************/
/**************************************************************************/

/*                           Background Colors                            */

/**************************************************************************/
/**************************************************************************/
.bg-primary {
    background-color: var(--primary) !important;
}

.bg-info {
    background-color: var(--info) !important;
}

.bg-warning {
    background-color: var(--warning) !important;
}

.bg-success {
    background-color: var(--success) !important;
}

.bg-danger {
    background-color: var(--danger) !important;
}

.bg-secondary {
    background-color: var(--secondary) !important;
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-light {
    background-color: var(--light) !important;
}

.round-0 {
    border-radius: 0px !important;
}

.round-5px {
    border-radius: 5px !important;
}

/**************************************************************************/
/**************************************************************************/

/*                               Typography                               */

/**************************************************************************/
/**************************************************************************/

.text-upper {
    text-transform: uppercase;
}

/* Blockquotes */
blockquote {
    background-color: var(--c-background-blockquote) !important;
    border: 1px solid var(--c-border-blockquote);
    padding: 20px 20px;

}

.blockquote-primary {
    border-left: 5px solid var(--primary);
}

.blockquote-info {
    border-left: 5px solid var(--info);
}

.blockquote-warning {
    border-left: 5px solid var(--warning);
}

.blockquote-danger {
    border-left: 5px solid var(--danger);
}

.blockquote-success {
    border-left: 5px solid var(--success);
}

.blockquote-secondary {
    border-left: 5px solid var(--secondary);
}

.blockquote-dark {
    border-left: 5px solid var(--dark);
}

.blockquote-light {
    border-left: 5px solid var(--light);
}

.left-down-round {
    border-radius: 0 0 40px 0;
}

/* Link */
a {
    text-decoration: none;
}

a:hover {
    filter: brightness(90%);
    transition: filter 0.5s ease-in-out;
    text-decoration: none;
}

/* Font Type */
.font-normal {
    font-family: var(--font-n);
}

.font-mono {
    font-family: var(--font-m);
}

.font-poppin {
    font-family: var(--font-p);
}

/* Font Size */
.font-u-thin {
    font-weight: 200;
}

.font-thin {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

/* Text Color */

.text-primary {
    color: var(--primary) !important;
}

.text-info {
    color: var(--info) !important;
}

.text-warning {
    color: var(--warning) !important;
}

.text-success {
    color: var(--success) !important;
}

.text-danger {
    color: var(--danger) !important;
}

.text-secondary {
    color: var(--secondary) !important;
}

.text-light {
    color: #ffffff !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-l-gray {
    color: var(--light-gray) !important;
}

/* Text Styles */
.text-italic {
    font-style: italic;
}

.text-striket {
    text-decoration: line-through;
}

/* Advanced */
.text-wrap {
    word-wrap: break-word;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.badge-primary {
    background-color: var(--primary) !important;
    color: #ffffff;
}

.badge-info {
    background-color: var(--info) !important;
    color: #ffffff;
}

.badge-warning {
    background-color: var(--secondary) !important;
    color: #ffffff;
}

.badge-danger {
    background-color: var(--danger) !important;
    color: #ffffff;
}

.badge-success {
    background-color: var(--success) !important;
    color: #ffffff;
}

.badge-secondary {
    background-color: var(--secondary) !important;
    color: #ffffff;
}

.badge-dark {
    background-color: var(--dark) !important;
    color: #ffffff;
}

/**************************************************************************/
/**************************************************************************/

/*                               Buttons                               */

/**************************************************************************/
/**************************************************************************/

button, .button, a {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px;
}

.btn {
    display: inline-block;
    text-align: center;
    border: none;
    border-radius: 5px;
}

/* Button Size */
.btn-small {
    font-size: 10px;
    padding: 8px 12px;
}

.btn-large {
    font-size: 18px;
    padding: 15px 20px;
}

.btn-x-large {
    font-size: 25px;
    padding: 15px 20px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-pilled {
    border-radius: 30px;
}

.btn-round {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 10px 10px;
    text-align: center;
    overflow: hidden;
}

button:hover, .btn:hover {
    filter: brightness(90%);
    transition: filter 0.3s ease-in-out;
}

button:focus, button:active, .btn:focus , .btn:active {
    box-shadow: none;
    outline: none !important;
}

/* Empty Fill */
.border-primary {
    border: 1px solid var(--primary);
    background-color: transparent;
    color: var(--primary);
}

.border-primary:hover {
    color: #ffffff;
    background-color: var(--primary);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-info {
    border: 1px solid var(--info);
    background-color: transparent;
    color: var(--info);
}

.border-info:hover {
    color: #ffffff;
    background-color: var(--info);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-warning {
    border: 1px solid var(--warning);
    background-color: transparent;
    color: var(--warning);
}

.border-warning:hover {
    color: #ffffff;
    background-color: var(--warning);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-danger {
    border: 1px solid var(--danger);
    background-color: transparent;
    color: var(--danger);
}

.border-danger:hover {
    color: #ffffff;
    background-color: var(--danger);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-success {
    border: 1px solid var(--success);
    background-color: transparent;
    color: var(--success);
}

.border-success:hover {
    color: #ffffff;
    background-color: var(--success);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-secondary {
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
}

.border-secondary:hover {
    color: #ffffff;
    background-color: var(--secondary);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-dark {
    border: 1px solid var(--dark);
    background-color: transparent;
    color: var(--dark);
}

.border-dark:hover {
    color: #ffffff;
    background-color: var(--dark);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

.border-light {
    border: 1px solid var(--light);
    background-color: transparent;
    color: var(--light);
}

.border-light:hover {
    color: #101010;
    background-color: var(--light);
    transition: color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
}

/* Colors */
.b-primary {
    color: #ffffff;
    background-color: var(--primary);
    border: 1px solid var(--primary);
}

.b-info {
    color: #ffffff;
    background-color: var(--info);
    border: 1px solid var(--info);
}

.b-warning {
    color: #ffffff;
    background-color: var(--warning);
    border: 1px solid var(--warning);
}

.b-danger {
    color: #ffffff;
    background-color: var(--danger);
    border: 1px solid var(--danger);
}

.b-success {
    color: #ffffff;
    background-color: var(--success);
    border: 1px solid var(--success);
}

.b-secondary {
    color: #ffffff;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
}

.b-light {
    color: #101010;
    background-color: var(--light);
    border: 1px solid var(--light);
}

.b-dark {
    color: #ffffff;
    background-color: var(--dark);
    border: 1px solid var(--dark);
}


/* Ripple Effect */
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
}

.ripple:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

/**************************************************************************/
/**************************************************************************/

/*                                  Cards                                 */

/**************************************************************************/
/**************************************************************************/

.card {
    border-radius: 0px;
    border-color: var(--c-card-border);
    background-color: var(--c-background-card);
}

.card-header {
    border-radius: 0px;
    border-color: var(--c-card-border);
    background-color: var(--c-background-card-header);
}

.card-footer {
    border-radius: 0px;
    border-color: var(--c-card-border);
    background-color: var(--c-background-card);
}

.footer-image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: 10px;
    bottom: 10px;
}

.footer-text {
    left: 35px;;
}

.card-title {
    font-size: 24px;
}

.card-text, .list-group-item {
    font-size: 14px;
}

.card-plain {
    background-color: transparent;
    border-color: transparent;
}

.list-group-item {
    border-color: var(--c-card-border);
}

.card-img-top {
    top: 0px;
    border-radius: 0px;
    width: 100%;
}

.card-img {
    border-radius: 0px;
    width: 100%;
}

.float-right {
    float: right;
}

float-right {
    float: right;
}

float-left {
    float: left;
}

.card-link {
    cursor: pointer;
    font-size: small;
}

.card-link:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: filter 0.5s ease-in-out;
    text-decoration: none;
}

.author-image {
    left: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
}

/**************************************************************************/
/**************************************************************************/

/*                                Shadows                                 */

/**************************************************************************/
/**************************************************************************/

.shadow-1 {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}

.shadow-1-h:hover {
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    transition: box-shadow ease-in-out 0.2s;
}

.shadow-2 {
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.shadow-3 {
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.11), 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);
}

/**************************************************************************/
/**************************************************************************/

/*                                   Alerts                               */

/**************************************************************************/
/**************************************************************************/

.alert {
    width: 100%;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0;
}

.alert-link {
    font-weight: 500;
}

.alert-dismissible .close {
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    transition: all 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.alert-dismissible .close:hover {
    cursor: pointer;
}

.alert__icon {
    font-size: 1.25rem;
}

.alert__close {
    padding: 0;
    line-height: 1.3;
    opacity: .7;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.625rem;
    transition: all .3s;
}

.alert__close--light {
    color: #fff;
}

.alert__close--dark {
    color: #1b1e24;
}

.alert__close:hover {
    opacity: 1;
}

.alert__close:focus {
    outline: 0 none;
    box-shadow: none;
}

/**************************************************************************/
/**************************************************************************/

/*                                 Navbar                                 */

/**************************************************************************/
/**************************************************************************/

.navbar {
    padding: 0.75rem 1.5rem;
    font-weight: 400;
    font-size: 0.9rem;
    border-bottom: 2px solid var(--c-navbar-border);
}

.nav-primary {
    background-color: var(--primary) !important;
}

.nav-info {
    background-color: var(--info) !important;
}

.nav-warning {
    background-color: var(--warning) !important;
}

.nav-success {
    background-color: var(--success) !important;
}

.nav-danger {
    background-color: var(--danger) !important;
}

.nav-secondary {
    background-color: var(--secondary) !important;
}

.nav-dark {
    background-color: var(--dark) !important;
}

.nav-light {
    background-color: #ffffff !important;
}

.navbar-brand {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-right: 1.5rem;
    font-size: 0.9rem;
    font-weight: bold;
    font-family: var(--font-p);
}

.navbar-text {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.navbar-toggler {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    background: #ffffff;
    border: 1px solid transparent;
    border-radius: 0.375rem;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.625rem;
        padding-left: 0.625rem;
    }
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
}

.navbar-light .navbar-brand {
    color: #333333;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #333333;
}

.navbar-light .navbar-nav .nav-link {
    color: #4d5056;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #101010;
    transition: color 0.3s ease-in-out;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #4d5056;
}

.navbar-light .navbar-toggler {
    color: #4d5056;
    border-color: transparent;
    background: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
    color: #4d5056;
}

.navbar-light .navbar-text a {
    color: #4d5056;
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: #4d5056;
}


.navbar-dark .navbar-brand {
    color: #ffffff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #fafafa;
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
}

.navbar-dark .navbar-toggler {
    color: #ffffff;
    border-color: rgba(255, 255, 255, 0.1);
    background: none;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#ffffff)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
    color: #ffffff;
}

.navbar-dark .navbar-text a {
    color: #ffffff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
    color: #ffffff;
}

.dropdown-menu {
    z-index: 1000;
    min-width: 15rem;
    padding: 0.5rem 0;
    margin: 0 0 0;
    font-size: 1rem;
    color: var(--c-navbar-dropdown-fore);
    background-color: var(--c-navbar-dropdown-background);
    border: 1px solid var(--c-navbar-dropdown-border);
    border-radius: 0px;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.11), 0 10px 20px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);
}

.dropdown-menu-small {
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.11), 0 3px 10px rgba(0, 0, 0, 0.05), 0 2px 3px rgba(0, 0, 0, 0.06);
    padding: 0.25rem 0;
    font-size: 0.813rem;
}

.dropdown-menu-small .dropdown-item {
    padding: 0.375rem 0.875rem;
    font-size: 0.813rem;
}

.dropdown-menu-small .dropdown-divider {
    margin: 0.25rem 0;
}

.dropup .dropdown-menu {
    margin-bottom: 0;
}

.dropright .dropdown-menu {
    margin-left: 0;
}

.dropleft .dropdown-menu {
    margin-right: 0;
}

.dropdown-divider {
    height: 0;
    margin: 0.75rem 0;
    overflow: hidden;
    border-top: 1px solid var(--c-navbar-dropdown-devider);
}

.dropdown-item {
    padding: 0.5rem 1.25rem;
    font-weight: 300;
    color: #212529;
    font-size: 0.9375rem;
    transition: background-color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06), color 250ms cubic-bezier(0.27, 0.01, 0.38, 1.06);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #16181b;
    background-color: #eceeef;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    background-color: #c3c7cc;
}

.dropdown-item.disabled, .dropdown-item:disabled {
    color: var(--c-navbar-dropdown-header-fore);
}

.dropdown-item.disabled:hover, .dropdown-item:disabled:hover {
    background: none;
    cursor: not-allowed;
}

.dropdown-header {
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
    color: var(--c-navbar-dropdown-header-fore);
}


.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}

/**************************************************************************/
/**************************************************************************/

/*                             Form Elements                              */

/**************************************************************************/
/**************************************************************************/

.form-search-dark {
    background-color: transparent;
    border-color: transparent !important;
    color: #4d5056;
    font-size: 0.8rem;
}

.form-search-dark::placeholder {
    color: #4d5056 !important;
}

.form-search-dark:focus, .form-search-dark:active {
    background-color: transparent !important;
    border: none;
    color: #4d5056;
}

.form-search-light {
    background-color: transparent;
    border-color: transparent !important;
    color: #ffffff;
    font-size: 0.8rem;
}

.form-search-light::placeholder {
    color: #ffffff !important;
}

.form-search-light:focus, .form-search-light:active {
    background-color: transparent !important;
    border: none;
    color: #ffffff;
}

label {
    color: var(--c-label-font);
}

/* Form Control */
.form-control {
    width: 100%;
    border-radius: 0px;
    padding: 10px 10px;
    border-color: var(--c-form-border);
}

.form-control:hover {
    box-shadow: none;
    outline: none !important;
}

.form-control:active, .form-control:focus {
    border-color: var(--primary-light);
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none !important;
}

.form-control::placeholder {
    color: var(--c-placeholder);
}

.input-group-text {
    outline: none;
    border: none;
    border-radius: 0px;
    background-color: var(--c-form-background);
    color: var(--c-form-input-group-text);
}

.form-icon-wrapper {
    position: relative;
    display: block;
}

.form-icon-input-left {
    padding-left: 2.1875rem;
}

.form-icon-input-right {
    padding-right: 2.1875rem;
}

.form-icon {
    position: absolute;
    height: 100%;
    width: 2.5rem;
}

.form-icon--left {
    left: 0;
}

.form-icon--right {
    right: 0;
}

.form-icon__item {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #8f95a0;
    transform: translate(-50%, -50%);
}

.input-success, .input-success:active, .input-success:focus {
    border-color: var(--success);
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none !important;
}

.input-danger, .input-danger:active, .input-danger:focus {
    border-color: var(--danger);
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none !important;
}

.input-warning, .input-warning:active, .input-warning:focus {
    border-color: var(--warning);
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none !important;
}

/* Select List */
select {
    width: 100%;
    padding: 5px 5px;
    border-radius: 0px;
    border-color: var(--c-form-border);
}

select:active, select:focus {
    border-color: var(--primary-light);
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none !important;
}

.custom-select {
    width: 100%;
    border-radius: 0px;
    border-color: var(--c-form-border);
}

.custom-select:active, .custom-select:focus {
    border-color: var(--primary-light);
    transition: border-color 0.3s ease-in-out;
    box-shadow: none;
    outline: none !important;
}

/* Toogle */
.form-toggle {
    position: relative;
    cursor: pointer;
    outline: none !important;
}

.form-toggle__item {
    display: block;
    padding-left: 1px;
    padding-right: 1px;
    cursor: pointer;
    width: 43px;
    height: 22px;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    color: #d5d7dc;
    border: solid 1px #d5d7dc;
    border-radius: 6.25rem;
}

.form-toggle__item i::before, .form-toggle__item i::after {
    content: "";
    display: block;
    position: absolute;
}

.form-toggle__item i::before {
    content: attr(data-uncheck-icon);
    top: 0;
    left: 0;
    width: 100%;
    line-height: 18px;
    text-align: right;
    padding: 2px 7px;
}

.form-toggle__item i::after {
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #d5d7dc;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: left .2s ease;

}

.form-toggle input[type="checkbox"],
.form-toggle input[type="radio"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.form-toggle input[type="checkbox"]:checked + .form-toggle__item,
.form-toggle input[type="checkbox"]:checked + * .form-toggle__item,
.form-toggle input[type="radio"]:checked + .form-toggle__item,
.form-toggle input[type="radio"]:checked + * .form-toggle__item {
    color: #fff;
    background-color: var(--primary);
    border-color: var(--primary);
    transition: all .3s ease;
}

.form-toggle input[type="checkbox"]:checked + .form-toggle__item i:before,
.form-toggle input[type="checkbox"]:checked + * .form-toggle__item i:before,
.form-toggle input[type="radio"]:checked + .form-toggle__item i:before,
.form-toggle input[type="radio"]:checked + * .form-toggle__item i:before {
    content: attr(data-check-icon);
    text-align: left;
}

.form-toggle input[type="checkbox"]:checked + .form-toggle__item i::after,
.form-toggle input[type="checkbox"]:checked + * .form-toggle__item i::after,
.form-toggle input[type="radio"]:checked + .form-toggle__item i::after,
.form-toggle input[type="radio"]:checked + * .form-toggle__item i::after {
    left: calc(100% - 19px);
    background-color: #fff;
}

.is-valid .form-toggle__item {
    color: var(--success);
    border: solid 1px var(--success);
}

.is-valid .form-toggle__item i::after {
    background-color: var(--success);
}

.is-valid .form-toggle input[type="checkbox"]:checked + .form-toggle__item,
.is-valid .form-toggle input[type="checkbox"]:checked + * .form-toggle__item,
.is-valid .form-toggle input[type="radio"]:checked + .form-toggle__item,
.is-valid .form-toggle input[type="radio"]:checked + * .form-toggle__item {
    background-color: var(--success);
    border-color: var(--success);
}

.is-invalid .form-toggle__item {
    color: var(--danger);
    border: solid 1px var(--danger);
}

.is-invalid .form-toggle__item i::after {
    background-color: var(--danger);
}

.is-invalid .form-toggle input[type="checkbox"]:checked + .form-toggle__item,
.is-invalid .form-toggle input[type="checkbox"]:checked + * .form-toggle__item,
.is-invalid .form-toggle input[type="radio"]:checked + .form-toggle__item,
.is-invalid .form-toggle input[type="radio"]:checked + * .form-toggle__item {
    background-color: var(--danger);
    border-color: var(--danger);
}

.is-disabled .form-toggle__item {
    color: #e6e7e9;
    border: solid 1px #e6e7e9;
}

.is-disabled .form-toggle__item i::after {
    background-color: #e6e7e9;
}

.is-disabled .form-toggle input[type="checkbox"]:checked + .form-toggle__item,
.is-disabled .form-toggle input[type="checkbox"]:checked + * .form-toggle__item,
.is-disabled .form-toggle input[type="radio"]:checked + .form-toggle__item,
.is-disabled .form-toggle input[type="radio"]:checked + * .form-toggle__item {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
}

/* Bootstrap's Custom Controls */
.custom-control-input.is-valid:checked ~ .custom-control-label::before {
    background-color: var(--success);
}

.custom-control-input.is-invalid:checked ~ .custom-control-label::before {
    background-color: var(--danger);
}

.custom-control-input:disabled:checked ~ .custom-control-label::before {
    background-color: #d5d7dc;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow:none !important;
}

.form-pill {
    border-radius: 6.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/**************************************************************************/
/**************************************************************************/

/*                                 Modals                                 */

/**************************************************************************/
/**************************************************************************/
.modal-content {
    border: none !important;
    outline: none !important;
    border-radius: 0px;
    border-radius: 0rem;
    background-color: var(--model-background-color);
    color: var(--model-fore-color);
}

.modal-header {
    border-bottom: 0 none !important;
    border-radius: 0rem;
    background-color: var(--model-background-color);
    color: var(--model-fore-color);
}

.modal-footer {
    border-top: 0 none !important;
    border-radius: 0rem;
    background-color: var(--model-background-color);
    color: var(--model-fore-color);
}

.modal-body {
    text-align: left;
}

/**************************************************************************/
/**************************************************************************/

/*                             Custom - Cards                             */

/**************************************************************************/
/**************************************************************************/

.blog-card-1 {
    border: 1px solid var(--blog-main-border);
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-card-1 .blog-img-top-1 {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: -20px;
    width: 95%;
    border-radius: 10px;
}

.zoom-in:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.zoom-out:hover {
    transform: scale(0.9);
    transition: transform 0.3s ease-in-out;
}

.hover-brightness:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease-in-out;
}

.blog-body-1 {
    word-wrap: break-word;
    padding: 10px 20px;
    background-color: transparent;
    color: var(--blog-main-fore);
}

.blog-footer-1 {
    padding: 20px 20px;
}

.card-gradient {
    border: none !important;
}

.bg-gradient-1 {
    background: rgb(10,88,210);
    background: linear-gradient(138deg, rgba(10,88,210,1) 2%, rgba(10,170,196,1) 100%, rgba(9,9,121,1) 100%);
}

.bg-gradient-2 {
    background: rgb(210,10,115);
    background: linear-gradient(138deg, rgba(210,10,115,1) 2%, rgba(196,10,10,1) 100%, rgba(9,9,121,1) 100%);
}

.bg-gradient-3 {
    background: rgb(210,107,10);
    background: linear-gradient(172deg, rgba(210,107,10,1) 2%, rgba(192,196,10,1) 100%, rgba(9,9,121,1) 100%);
}

.bg-gradient-4 {
    background: rgb(0,0,0);
    background: linear-gradient(172deg, rgba(0,0,0,1) 0%, rgba(14,14,11,1) 100%, rgba(9,9,121,1) 100%);
}


/**************************************************************************/
/**************************************************************************/

/*                           Custom - Main Blog                           */

/**************************************************************************/
/**************************************************************************/

.blog-container {
    width: 100%;
    height: auto;
    padding: 10px 10px;
}

.blog-main-img {
    width: 100%;
}

.blog-main-title {
    color: var(--dark);
    width: 100%;
    height: auto;
    padding: 20px 20px;
    top: 10px;
    word-wrap: break-word;
    text-align: center;
}

.blog-des-devider {
    border: 10px solid transparent;
}

.blog-devider {
    border: 20px solid transparent;
}

.blog-main-content {
    border: 1px solid var(--blog-main-border);
    width: 100%;
    height: auto;
    padding: 20px 20px;
    word-wrap: break-word;
    text-align: justify;
    background-color: var(--blog-main-background);
    color: var(--blog-main-fore);
    font-family: var(--font-n);
}

.blog-details {
    border: 1px solid var(--blog-main-border);
    width: 100%;
    height: auto;
    padding: 20px 20px;
    word-wrap: break-word;
    text-align: justify;
    background-color: var(--blog-main-background);
    color: var(--blog-main-fore);
    font-family: var(--font-p);
}

/* GitHub Markdown Preview:
 *
 * https://github.com/sindresorhus/github-markdown-css
*/

@media (prefers-color-scheme: dark) {
    .markdown-body {
        color-scheme: dark;
        --color-prettylights-syntax-comment: #8b949e;
        --color-prettylights-syntax-constant: #79c0ff;
        --color-prettylights-syntax-entity: #d2a8ff;
        --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
        --color-prettylights-syntax-entity-tag: #7ee787;
        --color-prettylights-syntax-keyword: #ff7b72;
        --color-prettylights-syntax-string: #a5d6ff;
        --color-prettylights-syntax-variable: #ffa657;
        --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
        --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
        --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
        --color-prettylights-syntax-carriage-return-text: #f0f6fc;
        --color-prettylights-syntax-carriage-return-bg: #b62324;
        --color-prettylights-syntax-string-regexp: #7ee787;
        --color-prettylights-syntax-markup-list: #f2cc60;
        --color-prettylights-syntax-markup-heading: #1f6feb;
        --color-prettylights-syntax-markup-italic: #c9d1d9;
        --color-prettylights-syntax-markup-bold: #c9d1d9;
        --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
        --color-prettylights-syntax-markup-deleted-bg: #67060c;
        --color-prettylights-syntax-markup-inserted-text: #aff5b4;
        --color-prettylights-syntax-markup-inserted-bg: #033a16;
        --color-prettylights-syntax-markup-changed-text: #ffdfb6;
        --color-prettylights-syntax-markup-changed-bg: #5a1e02;
        --color-prettylights-syntax-markup-ignored-text: #c9d1d9;
        --color-prettylights-syntax-markup-ignored-bg: #1158c7;
        --color-prettylights-syntax-meta-diff-range: #d2a8ff;
        --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
        --color-prettylights-syntax-sublimelinter-gutter-mark: #484f58;
        --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
        --color-fg-default: #c9d1d9;
        --color-fg-muted: #8b949e;
        --color-fg-subtle: #484f58;
        --color-canvas-default: #0d1117;
        --color-canvas-subtle: #161b22;
        --color-border-default: #30363d;
        --color-border-muted: #21262d;
        --color-neutral-muted: rgba(110,118,129,0.4);
        --color-accent-fg: #58a6ff;
        --color-accent-emphasis: #1f6feb;
        --color-attention-subtle: rgba(187,128,9,0.15);
        --color-danger-fg: #f85149;
    }
}

@media (prefers-color-scheme: light) {
    .markdown-body {
        color-scheme: light;
        --color-prettylights-syntax-comment: #6e7781;
        --color-prettylights-syntax-constant: #0550ae;
        --color-prettylights-syntax-entity: #8250df;
        --color-prettylights-syntax-storage-modifier-import: #24292f;
        --color-prettylights-syntax-entity-tag: #116329;
        --color-prettylights-syntax-keyword: #cf222e;
        --color-prettylights-syntax-string: #0a3069;
        --color-prettylights-syntax-variable: #953800;
        --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
        --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
        --color-prettylights-syntax-invalid-illegal-bg: #82071e;
        --color-prettylights-syntax-carriage-return-text: #f6f8fa;
        --color-prettylights-syntax-carriage-return-bg: #cf222e;
        --color-prettylights-syntax-string-regexp: #116329;
        --color-prettylights-syntax-markup-list: #3b2300;
        --color-prettylights-syntax-markup-heading: #0550ae;
        --color-prettylights-syntax-markup-italic: #24292f;
        --color-prettylights-syntax-markup-bold: #24292f;
        --color-prettylights-syntax-markup-deleted-text: #82071e;
        --color-prettylights-syntax-markup-deleted-bg: #FFEBE9;
        --color-prettylights-syntax-markup-inserted-text: #116329;
        --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
        --color-prettylights-syntax-markup-changed-text: #953800;
        --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
        --color-prettylights-syntax-markup-ignored-text: #eaeef2;
        --color-prettylights-syntax-markup-ignored-bg: #0550ae;
        --color-prettylights-syntax-meta-diff-range: #8250df;
        --color-prettylights-syntax-brackethighlighter-angle: #57606a;
        --color-prettylights-syntax-sublimelinter-gutter-mark: #8c959f;
        --color-prettylights-syntax-constant-other-reference-link: #0a3069;
        --color-fg-default: #24292f;
        --color-fg-muted: #57606a;
        --color-fg-subtle: #6e7781;
        --color-canvas-default: #ffffff;
        --color-canvas-subtle: #f6f8fa;
        --color-border-default: #d0d7de;
        --color-border-muted: hsla(210,18%,87%,1);
        --color-neutral-muted: rgba(175,184,193,0.2);
        --color-accent-fg: #0969da;
        --color-accent-emphasis: #0969da;
        --color-attention-subtle: #fff8c5;
        --color-danger-fg: #cf222e;
    }
}

.markdown-body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0;
    color: var(--color-fg-default);
    background-color: var(--color-canvas-default);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.5;
    word-wrap: break-word;
}

.markdown-body .octicon {
    display: inline-block;
    fill: currentColor;
    vertical-align: text-bottom;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
    width: 16px;
    height: 16px;
    content: ' ';
    display: inline-block;
    background-color: currentColor;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
    display: block;
}

.markdown-body summary {
    display: list-item;
}

.markdown-body [hidden] {
    display: none !important;
}

.markdown-body a {
    background-color: transparent;
    color: var(--color-accent-fg);
    text-decoration: none;
}

.markdown-body a:active,
.markdown-body a:hover {
    outline-width: 0;
}

.markdown-body abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
}

.markdown-body b,
.markdown-body strong {
    font-weight: 600;
}

.markdown-body dfn {
    font-style: italic;
}

.markdown-body h1 {
    margin: .67em 0;
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 2em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdown-body mark {
    background-color: var(--color-attention-subtle);
    color: var(--color-text-primary);
}

.markdown-body small {
    font-size: 90%;
}

.markdown-body sub,
.markdown-body sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.markdown-body sub {
    bottom: -0.25em;
}

.markdown-body sup {
    top: -0.5em;
}

.markdown-body img {
    border-style: none;
    max-width: 100%;
    box-sizing: content-box;
    background-color: var(--color-canvas-default);
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

.markdown-body figure {
    margin: 1em 40px;
}

.markdown-body hr {
    box-sizing: content-box;
    overflow: hidden;
    background: transparent;
    border-bottom: 1px solid var(--color-border-muted);
    height: .25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--color-border-default);
    border: 0;
}

.markdown-body input {
    font: inherit;
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.markdown-body [type=button],
.markdown-body [type=reset],
.markdown-body [type=submit] {
    -webkit-appearance: button;
}

.markdown-body [type=button]::-moz-focus-inner,
.markdown-body [type=reset]::-moz-focus-inner,
.markdown-body [type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.markdown-body [type=button]:-moz-focusring,
.markdown-body [type=reset]:-moz-focusring,
.markdown-body [type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.markdown-body [type=checkbox],
.markdown-body [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

.markdown-body [type=number]::-webkit-inner-spin-button,
.markdown-body [type=number]::-webkit-outer-spin-button {
    height: auto;
}

.markdown-body [type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.markdown-body [type=search]::-webkit-search-cancel-button,
.markdown-body [type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.markdown-body ::-webkit-input-placeholder {
    color: inherit;
    opacity: .54;
}

.markdown-body ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.markdown-body a:hover {
    text-decoration: underline;
}

.markdown-body hr::before {
    display: table;
    content: "";
}

.markdown-body hr::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-body table {
    border-spacing: 0;
    border-collapse: collapse;
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdown-body td,
.markdown-body th {
    padding: 0;
}

.markdown-body details summary {
    cursor: pointer;
}

.markdown-body details:not([open])>*:not(summary) {
    display: none !important;
}

.markdown-body kbd {
    display: inline-block;
    padding: 3px 5px;
    font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    line-height: 10px;
    color: var(--color-fg-default);
    vertical-align: middle;
    background-color: var(--color-canvas-subtle);
    border: solid 1px var(--color-neutral-muted);
    border-bottom-color: var(--color-neutral-muted);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--color-neutral-muted);
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.markdown-body h2 {
    font-weight: 600;
    padding-bottom: .3em;
    font-size: 1.5em;
    border-bottom: 1px solid var(--color-border-muted);
}

.markdown-body h3 {
    font-weight: 600;
    font-size: 1.25em;
}

.markdown-body h4 {
    font-weight: 600;
    font-size: 1em;
}

.markdown-body h5 {
    font-weight: 600;
    font-size: .875em;
}

.markdown-body h6 {
    font-weight: 600;
    font-size: .85em;
    color: var(--color-fg-muted);
}

.markdown-body p {
    margin-top: 0;
    margin-bottom: 10px;
}

.markdown-body blockquote {
    margin: 0;
    padding: 0 1em;
    color: var(--color-fg-muted);
    border-left: .25em solid var(--color-border-default);
}

.markdown-body ul,
.markdown-body ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2em;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha;
}

.markdown-body dd {
    margin-left: 0;
}

.markdown-body tt,
.markdown-body code {
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
}

.markdown-body pre {
    margin-top: 0;
    margin-bottom: 0;
    font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
    font-size: 12px;
    word-wrap: normal;
}

.markdown-body .octicon {
    display: inline-block;
    overflow: visible !important;
    vertical-align: text-bottom;
    fill: currentColor;
}

.markdown-body ::placeholder {
    color: var(--color-fg-subtle);
    opacity: 1;
}

.markdown-body input::-webkit-outer-spin-button,
.markdown-body input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
    appearance: none;
}

.markdown-body .pl-c {
    color: var(--color-prettylights-syntax-comment);
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
    color: var(--color-prettylights-syntax-constant);
}

.markdown-body .pl-e,
.markdown-body .pl-en {
    color: var(--color-prettylights-syntax-entity);
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
    color: var(--color-prettylights-syntax-storage-modifier-import);
}

.markdown-body .pl-ent {
    color: var(--color-prettylights-syntax-entity-tag);
}

.markdown-body .pl-k {
    color: var(--color-prettylights-syntax-keyword);
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
    color: var(--color-prettylights-syntax-string);
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
    color: var(--color-prettylights-syntax-variable);
}

.markdown-body .pl-bu {
    color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.markdown-body .pl-ii {
    color: var(--color-prettylights-syntax-invalid-illegal-text);
    background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.markdown-body .pl-c2 {
    color: var(--color-prettylights-syntax-carriage-return-text);
    background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.markdown-body .pl-sr .pl-cce {
    font-weight: bold;
    color: var(--color-prettylights-syntax-string-regexp);
}

.markdown-body .pl-ml {
    color: var(--color-prettylights-syntax-markup-list);
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-heading);
}

.markdown-body .pl-mi {
    font-style: italic;
    color: var(--color-prettylights-syntax-markup-italic);
}

.markdown-body .pl-mb {
    font-weight: bold;
    color: var(--color-prettylights-syntax-markup-bold);
}

.markdown-body .pl-md {
    color: var(--color-prettylights-syntax-markup-deleted-text);
    background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.markdown-body .pl-mi1 {
    color: var(--color-prettylights-syntax-markup-inserted-text);
    background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.markdown-body .pl-mc {
    color: var(--color-prettylights-syntax-markup-changed-text);
    background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.markdown-body .pl-mi2 {
    color: var(--color-prettylights-syntax-markup-ignored-text);
    background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.markdown-body .pl-mdr {
    font-weight: bold;
    color: var(--color-prettylights-syntax-meta-diff-range);
}

.markdown-body .pl-ba {
    color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.markdown-body .pl-sg {
    color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.markdown-body .pl-corl {
    text-decoration: underline;
    color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.markdown-body [data-catalyst] {
    display: block;
}

.markdown-body g-emoji {
    font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1em;
    font-style: normal !important;
    font-weight: 400;
    line-height: 1;
    vertical-align: -0.075em;
}

.markdown-body g-emoji img {
    width: 1em;
    height: 1em;
}

.markdown-body::before {
    display: table;
    content: "";
}

.markdown-body::after {
    display: table;
    clear: both;
    content: "";
}

.markdown-body>*:first-child {
    margin-top: 0 !important;
}

.markdown-body>*:last-child {
    margin-bottom: 0 !important;
}

.markdown-body a:not([href]) {
    color: inherit;
    text-decoration: none;
}

.markdown-body .absent {
    color: var(--color-danger-fg);
}

.markdown-body .anchor {
    float: left;
    padding-right: 4px;
    margin-left: -20px;
    line-height: 1;
}

.markdown-body .anchor:focus {
    outline: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
    margin-top: 0;
    margin-bottom: 16px;
}

.markdown-body blockquote>:first-child {
    margin-top: 0;
}

.markdown-body blockquote>:last-child {
    margin-bottom: 0;
}

.markdown-body sup>a::before {
    content: "[";
}

.markdown-body sup>a::after {
    content: "]";
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    color: var(--color-fg-default);
    vertical-align: middle;
    visibility: hidden;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    text-decoration: none;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
    padding: 0 .2em;
    font-size: inherit;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
    padding: 0;
    list-style-type: none;
}

.markdown-body ol[type="1"] {
    list-style-type: decimal;
}

.markdown-body ol[type=a] {
    list-style-type: lower-alpha;
}

.markdown-body ol[type=i] {
    list-style-type: lower-roman;
}

.markdown-body div>ol:not([type]) {
    list-style-type: decimal;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-body li>p {
    margin-top: 16px;
}

.markdown-body li+li {
    margin-top: .25em;
}

.markdown-body dl {
    padding: 0;
}

.markdown-body dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
}

.markdown-body dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
}

.markdown-body table th {
    font-weight: 600;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px;
    border: 1px solid var(--color-border-default);
}

.markdown-body table tr {
    background-color: var(--color-canvas-default);
    border-top: 1px solid var(--color-border-muted);
}

.markdown-body table tr:nth-child(2n) {
    background-color: var(--color-canvas-subtle);
}

.markdown-body table img {
    background-color: transparent;
}

.markdown-body img[align=right] {
    padding-left: 20px;
}

.markdown-body img[align=left] {
    padding-right: 20px;
}

.markdown-body .emoji {
    max-width: none;
    vertical-align: text-top;
    background-color: transparent;
}

.markdown-body span.frame {
    display: block;
    overflow: hidden;
}

.markdown-body span.frame>span {
    display: block;
    float: left;
    width: auto;
    padding: 7px;
    margin: 13px 0 0;
    overflow: hidden;
    border: 1px solid var(--color-border-default);
}

.markdown-body span.frame span img {
    display: block;
    float: left;
}

.markdown-body span.frame span span {
    display: block;
    padding: 5px 0 0;
    clear: both;
    color: var(--color-fg-default);
}

.markdown-body span.align-center {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body span.align-center>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: center;
}

.markdown-body span.align-center span img {
    margin: 0 auto;
    text-align: center;
}

.markdown-body span.align-right {
    display: block;
    overflow: hidden;
    clear: both;
}

.markdown-body span.align-right>span {
    display: block;
    margin: 13px 0 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body span.align-right span img {
    margin: 0;
    text-align: right;
}

.markdown-body span.float-left {
    display: block;
    float: left;
    margin-right: 13px;
    overflow: hidden;
}

.markdown-body span.float-left span {
    margin: 13px 0 0;
}

.markdown-body span.float-right {
    display: block;
    float: right;
    margin-left: 13px;
    overflow: hidden;
}

.markdown-body span.float-right>span {
    display: block;
    margin: 13px auto 0;
    overflow: hidden;
    text-align: right;
}

.markdown-body code,
.markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-neutral-muted);
    border-radius: 6px;
}

.markdown-body code br,
.markdown-body tt br {
    display: none;
}

.markdown-body del code {
    text-decoration: inherit;
}

.markdown-body pre code {
    font-size: 100%;
}

.markdown-body pre>code {
    padding: 0;
    margin: 0;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}

.markdown-body .highlight {
    margin-bottom: 16px;
}

.markdown-body .highlight pre {
    margin-bottom: 0;
    word-break: normal;
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--color-canvas-subtle);
    border-radius: 6px;
}

.markdown-body pre code,
.markdown-body pre tt {
    display: inline;
    max-width: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
    padding: 5px;
    overflow: hidden;
    font-size: 12px;
    line-height: 1;
    text-align: left;
    white-space: nowrap;
}

.markdown-body .csv-data .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    background: var(--color-canvas-default);
    border: 0;
}

.markdown-body .csv-data tr {
    border-top: 0;
}

.markdown-body .csv-data th {
    font-weight: 600;
    background: var(--color-canvas-subtle);
    border-top: 0;
}

.markdown-body .footnotes {
    font-size: 12px;
    color: var(--color-fg-muted);
    border-top: 1px solid var(--color-border-default);
}

.markdown-body .footnotes ol {
    padding-left: 16px;
}

.markdown-body .footnotes li {
    position: relative;
}

.markdown-body .footnotes li:target::before {
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -24px;
    pointer-events: none;
    content: "";
    border: 2px solid var(--color-accent-emphasis);
    border-radius: 6px;
}

.markdown-body .footnotes li:target {
    color: var(--color-fg-default);
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
    font-family: monospace;
}

.markdown-body .task-list-item {
    list-style-type: none;
}

.markdown-body .task-list-item label {
    font-weight: 400;
}

.markdown-body .task-list-item.enabled label {
    cursor: pointer;
}

.markdown-body .task-list-item+.task-list-item {
    margin-top: 3px;
}

.markdown-body .task-list-item .handle {
    display: none;
}

.markdown-body .task-list-item-checkbox {
    margin: 0 .2em .25em -1.6em;
    vertical-align: middle;
}

.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em .25em .2em;
}

.markdown-body ::-webkit-calendar-picker-indicator {
    filter: invert(50%);
}